<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lixurs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LIXURS.IN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/package">PACKAGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
    <img  src="/PICS/p2.jpeg" class="d-block w-100 " alt="..." style="height: 800px; width: 200px" />
    <div class="carousel-caption d-none d-md-block">
      <h3>Welcome to Rishikesh</h3>
      <p>Lansdowne With Rishikesh Haridwar 4 nights tour</p>
    </div>
  </div>
  <div class="text-justify container">
    <div class="alert alert-warning container" role="alert">
      <h3></h3>
      <h3></h3>
      <h3></h3>
      <p>
        Lansdowne is a small hill town in Pauri Garhwal district of Uttarakhand. It lies at an elevation of 1706 m above sea level and is surrounded by thick oak and pine forests. It is one of the best hill stations in Uttarakhand state. Currently, the command office of the legendary Garhwal Rifles of the Indian Army is situated in Lansdowne. 

Garhwal Regimental Museum, St. Mary’s Church, St. John’s Church, Durga Devi Temple, Kaleshwar Mahadev Temple, Tip-in-Top, Bhim Pakora, Bhulla Tal, Tarkeshwar Mahadev Temple, and Bhairav Garhi Temple are the important places to visit in Lansdowne.

Rishikesh & Haridwar are also close to Lansdowne and 4-5 day trips can be planned to visit Lansdowne along with these places. Lansdowne is situated at a distance of 40 km from Kotdwar, 131 km from Rishikesh, 106 km from Haridwar  & 247 km from Delhi.
Tour Itinerary
Day 1 : Delhi to Lansdowne
Drive258 kmsAltitude1700 mtsStayHotel

On this day our journey starts from Delhi to Lansdowne, after arriving at Lansdowne its time for Lansdowne sightseeing. At a distance of 2.5 km from Lansdowne Market,  Tip-In-Top also known as Tiffin Top is situated in the ridge near St. Mary's  Church in Lansdowne. This is a popular spot among tourists visiting Lansdowne. 

After this its time to go Bhulla Tal/Bhulla Lake. At a distance of 2 km from Lansdowne Market,  Bhulla Tal is a small artificial lake situated in the town of Lansdowne. Created and maintained by the Indian Army, Bhulla Lake, also known as Bhulla Tal,  is one of the top places to visit in Lansdowne. Bhulla Lake is a well-maintained lake with a clean environment.
Day 2 : Lansdowne Sightseeing
Altitude1700 mtsStayHotel

After having a tasty breakfast, time to explore the nearby area of Lansdowne there are some popular places you would like to see them all. 

At first, we take you to, Tarkeshwar Mahadev Temple which is 37 km from Lansdowne Market, St  Mary's Church, St. John's Catholic Church 2 km from Lansdowne Market, Garhwali Mess 1 km from Lansdowne Market, Garhwal Regimental Museum / Darwan Singh  Museum 500m from Lansdowne Market.
Day 3 : Travel to Rishikesh & Rishikesh Sightseeing
Drive125 kmsStayHotel

After arrival at  Rishikesh, We will take you for Rafting, Rishikesh is very famous rafting.

After enjoying rafting, time to go for some famous places like Tera Manzil Temple / Kailash  Niketan Temple, Lakshman Jhula & Triveni Ghat. Overnight stay at Rishikesh.
Day 4 : Travel to Haridwar & Haridwar Sightseeing
Drive23 kmsStayHotel

After having breakfast time to leave Rishikesh and arrive at Haridwar. After arrival at  Haridwar, you can visit some popular temples & ghats like- Vaishno Devi Temple, Vishnu Ghat, Chandi Devi Temple, Mansa Devi Temple, Har Ki Pauri /  Gangadwara.

Overnight stay at Haridwar.
Day 5 : Haridwar Sightseeing and Departure
Drive215 kms

After having lavish breakfast its time to go for Haridwar sightseeing. You can visit Temples  & Dhams in Haridwar like- Pawan Dham, Doodhadhari Barfani Temple &  Daksha Mahadev Temple. 

Now its time to go back, and start traveling Haridwar to Delhi. After arrival in Delhi, our services ended here.
Cancellation Policy

    Within 15 days of Arrival Date/ No Show: No Refund
    15 Days to 30 Days prior to Arrival: 50% of the total package cost.
    30 Days & More: 10% of package cost (and taxes are not refunded in any case)
    Note: No refunds in case of Road Blocks, Accidents, etc

Read the Terms and Conditions/ Cancellation Policy/ Refund Policy , etc before booking. Do let us know if you have any query.
Why book this package from eUttaranchal?

    Largest online travel portal of Uttarakhand since 2003 with Authentic and Latest Information
    Self visited destinations, hotels before recommending to guests
    Hundreds of trusted local guides, hotels, taxi operators, tour operators associated with eUttaranchal
    Dedicated region specific sales team with in-depth knowledge of Uttarakhand
    One of the most trusted website of Uttarakhand
      </p>
      <div class="text-center"><a class="btn btn-light" href="/packageRegistration" role="button">Book Now!</a></div>
    </div>
  </div>
</body>

</html>